@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth !important;
}

body {
  overscroll-behavior: none;
}

.wrapper {
  display: inline-flex;
}

.dynamic-txts {
  list-style: none;
  height: 1.5em;
  line-height: 1.25em;
  overflow: hidden;
}


.dynamic-txts li {
  top: 0;
  position: relative;
  animation: slide 9s steps(3) infinite;
}

.dynamic-txts li span {
  position: relative;
}

.dynamic-txts li span::after {
  content: "";
  left: 0;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  border-left: 2px solid white;
  animation: typing 3s steps(20) infinite;
}


@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -180px;
  }
}